@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(./assets/font/Poppins-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(./assets/font/Poppins-Medium.ttf) format('truetype');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(./assets/font/Poppins-Bold.ttf) format('truetype');
}

:root {
	/* 	
	xs: '0.75rem', // 12px
	sm: '0.875rem', // 14px
	base: '1.0625rem', // 17px
	lg: ['1.1875rem', '1.21'], // 19px
	xl: '1.3125rem', // 21px
	'2xl': '1.5rem', // 24px
	'3xl': '1.75rem', // 28px
	'4xl': ['2.5rem', '1.1'], // 40px
	'5xl': ['4.5rem', '1.05'], // 72px	
 */
	/* --text-heading: 80px; */
	--text-heading-size: 5rem;
	--text-heading-line-height: 5.7rem;
	--text-heading-letter-spacing: -0.2rem;
	--text-title: 2.375rem;
	--text-subtitle: 1.3125rem;
	--text-button: 1.25rem;
	--text-base: 1rem;
	--text-caption: 0.875rem;
}

@layer base {
	body {
		/* @apply min-h-dvh */
		@apply font-normal
	}

	h1,
	h2,
	h3,
	h4 {
		@apply font-bold text-base-300 text-balance
	}

	h1 {
		@apply text-heading
	}

	p {
		@apply text-base-200 text-pretty
	}
}

@layer components {
	.link {
		@apply no-underline text-base-200 hover:text-base-300 hover:no-underline transition-colors;
	}
}