@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(./assets/font/Poppins-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(./assets/font/Poppins-Medium.ttf) format('truetype');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(./assets/font/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(./assets/font/Poppins-Bold.ttf) format('truetype');
}

:root {
	/* 	
	xs: '0.75rem', // 12px
	sm: '0.875rem', // 14px
	base: '1.0625rem', // 17px
	lg: ['1.1875rem', '1.21'], // 19px
	xl: '1.3125rem', // 21px
	'2xl': '1.5rem', // 24px
	'3xl': '1.75rem', // 28px
	'4xl': ['2.5rem', '1.1'], // 40px
	'5xl': ['4.5rem', '1.05'], // 72px	
 */
	/* --text-4xl: 80px; */
	--text-4xl-size: 5rem;
	--text-4xl-line-height: 5.7rem;
	--text-4xl-letter-spacing: -0.2rem;
	--text-3xl: 2.375rem;
	--text-2xl-size: 1.3125rem;
	--text-2xl-line-height: 2.2rem;
	--text-xl: 1.25rem;
	--text-lg: 19px;
	--text-base-size: 18px;
	--text-base-line-height: 1.6rem;
	--text-sm: 15px;
}

@layer base {
	body {
		/* @apply min-h-dvh */
		@apply font-normal text-base-400 text-base
	}

	h1,
	h2,
	h3,
	h4 {
		@apply font-bold text-base-400 text-balance
	}

	h1 {
		@apply text-4xl
	}

	h2 {
		@apply text-3xl
	}

	h3 {
		@apply text-2xl
	}

	p {
		@apply text-base-300 text-pretty
	}

}

@layer components {
	.link {
		@apply no-underline text-base-300 hover:text-base-400 hover:no-underline transition-colors;
	}
}

/* ! FIXME: Fix para corregir el color de fondo de los botones al hacer hover */
/* @media (hover: hover) {
	@supports (color: color-mix(in oklab, white, white)) {
		.btn:hover {
			background-color:
				color-mix(in oklab, oklch(var(--btn-color, var(--b2)) / var(--tw-bg-opacity, 1)) 80%, white);
			border-color:
				color-mix(in oklab, oklch(var(--btn-color, var(--b2)) / var(--tw-border-opacity, 1)) 80%, white);
		}
	}
} */